<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lunches</title>
		<!--bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<img src="../assets/img/burger.jpeg" alt="">
			<h1 class="display-4"> EAT YOUR BURGER </h1>
			<p class="lead">Select a burger to eat it, make a burger, or create a new one</p>
	</div>
	</div>
	<body>
		{{{ body }}}
	</body>
</html>
